<header>
        <div class="clear"></div>
        <div class="top--header-left">
            <h2>أفضل مكان لأيجاد مستقل</h2>
            <button class="btn dark--blue">أنشىء مشروع</button>
        </div>
        <div class="top--header-rigth">
            <h2>هل تبحث عن عمل ؟ أخبرنا قصتك</h2>
            <button class="btn dark--red ">سجل حساب</button>

        </div>
    
  </header>


 <main>
 
        <section class="projects">
            <h2 class="text--right"> مئات المشاريع متاحة لك </h2>
            <div class="projects--header">
                <h3 class="inline--block">اخر المشاريع</h3>
                <button class="btn lithg--blue pull--right">
                    <i class="fas fa-plus-circle"></i>أنشىء مشروع</button>
            </div>
           
            {{#each result}}
            <div class="project">
                <span class="pull--right">
                    <a href="profile/{{this.user_id }}">
                    <img src="img/me.jpg" alt="profile-img">
                    </a>
                </span>
             
                <span class="pull--right">{{this.title}}</span>
                <span class="pull--right">{{this.user_name}}</span>
                <span class="pull--right">{{this.time}}</span>
                <span class="pull--right">{{this.price}}</span>
                <span class="pull--right">
               <a href="/project/{{this.id}}"> <button class="btn lithg--red inline--block btn--bid">تقديم عرض</button>
              </a></span>
                <div class="clear"> </div>
            </div>
             {{/each}}
         
            <div class="pagenation">
                <span>
                    <i class="fas fa-angle-left"></i>
                </span>
                <span>1</span>
                <span>2</span>
                <span>...</span>
                <span>10</span>
                <span>
                    <i class="fas fa-angle-right"></i>
                </span>
                <div class="pull--right">
                    <span>
                        <a href="">عرض كل المشاريع
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </span>
                </div>
            </div>
        </section>
        <section class="hidden project--details-pop">
            <div class="project--details">

            </div>
            <i class="fas fa-times-circle" id="close-btn-project"></i>
        </section>
    </main>
  